
#mainbody {
padding-top:30px;
margin-top:30px;
}
a, a:visited, a:link, a:active, a:hover {
text-decoration: none;
font-weight: bold;
color: #000;
}
 a:hover {
 text-decoration: underline;
 font-weight: bolder;
}
.showlist, .releaselist {
width:99%;
font-size: 0.7em;
table-layout: fixed;
}
.favcheck:checked {
    background-color: #345;
}
.showlist tr td, .releaselist tr td {
padding:7px;
}

.showlist_icon {
width: 10px;
text-align:center;
}
.showlist_name {
width: 250px;
}
.showlist_name_long {
width: 30%;
min-width: 30%;
}
.showlist_season {
text-align: center;
width: 20px;
}
.showlist_quality {
text-align: center;
width: 60px;
}
.showlist_episode {
width: 25%;
}
.showlist_category {
width: 25%;
}
.showlist_description {
word-wrap:break-word;
width: 50%;
max-width: 50%;
white-space:nowrap;
}

.showlist_althigh {
background-color: #ffe;
}
.showlist_description_expand {
	width: 50%;
    overflow:visible;
    white-space:wrap;
}


.movie_title{
	font-size: 1.8em;
	font-weight: bold;
}
.movie_category{
}

.row {
padding: 2em;
#background-color: #ddd;
border-bottom: 0.5em white solid;

}

#movielist div.row:nth-child(even){
  background-color: #e6e6e6;
}
#movielist div.row:nth-child(odd){
  background-color: #d6d6d6;
}

.movie_poster {
	 box-shadow: 5px 5px 5px rgba(0,0,0, 0.55);
	 #margin-bottom: 10px;
}
.col-xs-3.img {
margin-bottom: 10px;
}

.movie_description {
	font-size: 1.2em;
}
